.hero{
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(49, 73, 138, 0.461)0%, rgba(62, 62, 136, 0.461) 100%),url('../assests/school.jpg')
    center center/cover no-repeat;
    display:flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
    overflow: hidden;
}

.hero-content{
    /* flex: 1; */
    max-width: 600px;
    color: white;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.hero-title{
    font-size:70px;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
}
.hero-subtitle{
    font-size: 25px;
    margin-bottom: 32px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-buttons{
    display:flex ;
    gap:16px;
}
.btn{
    padding: 12px 30px;
}
.btn-primary{
    background:rgba(46, 100, 147, 0.719);
    color: white;
    border: 2px solid white;
    border-radius: 100px;
}
.btn-primary:hover{
    background:rgb(82, 151, 226);
}
.btn-secondary{
    background:rgba(46, 100, 147, 0.719);
    color: white;
   border: 2px solid white;
   border-radius:100px;;
}
.btn-secondary:hover{
    background:rgb(82, 151, 226);
}
.hero-image{
    /* flex:1; */
    display: flex;
    justify-content:center ;
    align-items:center;
    position: relative;

}
.floating-card{
    background: 
    +                                   a(255,255, 255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255, 255,0.2);
    padding: 32px;
    text-align: center;
    color: white;
}
.floating-card i{
    font-size: 48px;
    color:lightblue;
    margin-bottom: 16px;
}
.floating-card h3{
    font-size: 24px;
    margin-bottom: 8px;
}